<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--  Jquery   -->
    <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" >
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="jumbotron">
            <h1>出错啦!</h1>
            <p th:text="${message}">服务器过热，请稍后再试！</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>