<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <head th:insert="~{import :: head}"></head>
    <head th:insert="~{import :: markdown}"></head>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main" style="width: 90%">
    <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12">
        <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h2>
        <hr>
        <div class="media" th:each="question : ${pagination.data}">
            <div class="media-left">
                <a th:href="@{'/question/'+${question.id}}">
                    <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                </h4>
<!--                <span th:text="${question.description}"></span>-->
                <br>
                <span class="text-desc">
                    <span th:text="${question.commentCount}"></span> 个回复 ·
                    <span th:text="${question.viewCount}"></span> 次浏览 ·
                    <span th:text="${question.likeCount}"></span> 次点赞👍 ·
                    <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                </span>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination" th:method="get">
                <li>
                    <a th:if="${search==null}" th:href="@{'/?page=1'}" aria-label="Previous">
                        <span th:aria-hidden="${pagination.showFirstPage}">&laquo;</span>
                    </a>
                    <a th:if="${search!=null}" th:href="@{'/search?search='+${search}+'&page=1'}" aria-label="Previous">
                        <span th:aria-hidden="${pagination.showFirstPage}">&laquo;</span>
                    </a>
                </li>
                <li th:each="page : ${pagination.pages}" th:class="${pagination.getPage() == page} ? 'active' : ''">
                    <a th:if="${search==null}" th:href="@{'/?page='+${page}}" th:text="${page}" >
                    </a>
                    <a th:if="${search!=null}" th:href="@{'/search?search='+${search}+'&page='+${page}}" th:text="${page}" >
                    </a>
                </li>
                <li>
                    <a th:if="${search==null}" th:href="@{'/?page='+${pagination.lastPage}}" aria-label="Next">
                        <span th:aria-hidden="${pagination.showEndPage}">&raquo;</span>
                    </a>
                    <a th:if="${search!=null}" th:href="@{'/search?search='+${search}+'&page='+${pagination.lastPage}}" aria-label="Next">
                        <span th:aria-hidden="${pagination.showEndPage}">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
        <h3>热门话题</h3>
        <hr class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h4>站长微信</h4>
            <img class="img-thumbnail question-wechat" src="/images/wechat.jpg">
        </div>
        <hr class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    </div>

</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>